@using Todo.Shared.State 
@inject HttpClient Http

<span class="error">@ErrorDetails</span>
<SfGrid @ref="Grid" DataSource="@State.Todos" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Toolbar="@(new List<string>() { "Edit", "Delete", "Cancel", "Update" })">
  <GridPageSettings PageSize="5"></GridPageSettings>
  <GridEditSettings AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
  <GridColumns>
    <GridColumn Field=@nameof(TodoDetail.Title) HeaderText="Title" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="120"></GridColumn>
    <GridColumn Field=@nameof(TodoDetail.Description) HeaderText="Description" Width="150"></GridColumn>
    <GridColumn Field=@nameof(TodoDetail.IsDone) HeaderText="Is Completed" TextAlign="TextAlign.Right" Width="100"></GridColumn>
    <GridColumn Field=@nameof(TodoDetail.CreatedOn) HeaderText="Created Date" TextAlign="TextAlign.Right" Width="120"></GridColumn>
  </GridColumns>
  <GridEvents TValue="TodoDetail" OnActionBegin="ActionBegin"></GridEvents>
</SfGrid>

@code {
  [Parameter]
  public AppState State { get; set; }

  SfGrid<TodoDetail> Grid;
  SearchTodoComponent searchTodoComponent;

  public string ErrorDetails = "";
  public List<TodoDetail> todoDetails = null;

  protected override async Task OnInitializedAsync()
  {
    //await GetTodos();
  }

  public async Task ActionBegin(ActionEventArgs<TodoDetail> arg)
  {
    //Handles refresh operation
    if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Refresh))
    {
      //await GetTodos();
    }

    if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
    {
      var response = await Http.SendAsync(new HttpRequestMessage { RequestUri = new Uri($"https://localhost:44372/todo?id={arg.Data.Id}"), Method = HttpMethod.Delete });
      Grid.Refresh();
    }

    if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
    {
      var response = await Http.SendAsync(new HttpRequestMessage { RequestUri = new Uri("https://localhost:44372/todo"), Method = HttpMethod.Put, Content = new StringContent(System.Text.Json.JsonSerializer.Serialize(arg.Data), System.Text.Encoding.UTF8, "application/json") });
      Grid.Refresh();
    }

    //Handles edit operation.During edit operation, original object will be cloned.
    if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.BeginEdit))
    {
      arg.Data = new TodoDetail()
      {
        Id = arg.RowData.Id,
        Title = arg.RowData.Title,
        Description = arg.RowData.Description
      };
    }
  }

  //private async Task GetTodos()
  //{
  //  var response = await Http.SendAsync(new HttpRequestMessage { RequestUri = new Uri("https://localhost:44372/todo"), Method = HttpMethod.Get });
  //  if (response.IsSuccessStatusCode)
  //  {
  //    string content = await response.Content.ReadAsStringAsync();
  //    State.SetTodoList(Newtonsoft.Json.JsonConvert.DeserializeObject<List<TodoDetail>>(content));
  //  }
  //  else
  //  {
  //    State.SetTodoList(null);
  //  }
  //}



}
