@page "/OneTimePaymentPage"
@inject PayPalStateService _PayPalStateService
@inject IJSRuntime jsRuntime

<h3>One Time Payment Page</h3>

<script suppress-error="BL9992" src="https://www.paypal.com/sdk/js?client-id=AQm921FElnvm67C0zEH33eRkI7H2i1XM5r7MEyp49Gz_vuXT0D-aFbML5jTj2mKKbtOCKB7uyIagKwG4"></script>



<SfButton CssClass="e-info" OnClick="Checkout">Checkout</SfButton>

<div id="paypal-button-container"></div>


@code {
  private IDisposable apiCallSub;

  protected override void OnInitialized()
  {
    //Subscribes();
    base.OnInitialized();
    //jsRuntime.InvokeVoidAsync("paypal.Buttons");

  }

  private void Checkout()
  {
    jsRuntime.InvokeVoidAsync("OneTimeCheckout");

  }


  //private void Subscribes()
  //{
  //  apiCallSub = _PayPalStateService.ApiCallResultObservable.Subscribe(async x =>
  //  {
  //    Console.WriteLine(x.Operation);
  //    Console.WriteLine(x.IsSucceed);
  //    Console.WriteLine(x.Data);

  //    switch (x.Operation)
  //    {

  //      case "CreateSampleCheckoutSession":

  //        if (x.IsSucceed == false)
  //        {
  //          //ButtonDisable = false;
  //          //LoaderVisiblity = false;
  //          //ErrorMessage = x.ErrorMessage;
  //          //NavManager.NavigateTo("/CheckoutSampleCancel");
  //        }

  //        else
  //        {
  //          //NavManager.NavigateTo("/CheckoutSampleSuccess");
  //          //sessionId = x.Data;
  //          //ButtonDisable = false;
  //          //LoaderVisiblity = false;
  //          //ErrorMessage = String.Empty;
  //          //SfEmail.CssClass = "";
  //          //SfProductName.CssClass = "";

  //          //await jsRuntime.InvokeVoidAsync("redirectToCheckout", sessionId);
  //          //StateHasChanged();
  //        }

  //        break;
  //    }

  //  });

  //}

  //public void Dispose()
  //{
  //  apiCallSub.Dispose();
  //}



}
