@page "/tasksListPage"

@using System.Net.Http.Headers

@inject HttpClient _http
@inject AuthHandler _auth
@inject TasksService _tasksService
<h3>_TasksListPage</h3>

<_TasksListComponent/>

@code {

}
