

@using System.Net.Http.Headers

@inject HttpClient _http
@inject AuthHandler _auth
@inject TasksService _tasksService

<h3>_TasksListComponent</h3>

@code {
  public List<TaskDetail> taskDetails = new List<TaskDetail>();
  protected override Task OnInitializedAsync()
  {
    return GetAllTasks();
    //return base.OnInitializedAsync();
  }

  private async Task GetAllTasks()
  {
    var responseModel = await _tasksService.GetTasks();
    taskDetails = responseModel.Payload;

    Console.WriteLine(responseModel.Payload.Count());
  }

}