@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http
@inject RequestHandler Request

<SfTextBox @ref="Title" Placeholder="Enter Title..." @bind-Value="@taskDetail.Title"></SfTextBox>
<label style="color: tomato; font-size: 10px">@ErrorMessage</label>
<SfTextBox @ref="Description" Placeholder="Enter Description..." @bind-Value="@taskDetail.Description"></SfTextBox>
<SfCheckBox Label="Is Active" @bind-Checked="@taskDetail.Active"></SfCheckBox>
<SfButton CssClass="e-info" @onclick="AddTaskRequest">Add</SfButton>



@code {

  protected override async Task OnInitializedAsync()
  {
    //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
  }

  SfTextBox Title;
  SfTextBox Description;
  public string ErrorMessage = "";
  public bool IsSucceed { get; set; }
  TaskDetail taskDetail = new Models.TaskDetail();

  private async Task AddTaskRequest(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
  {
    if (taskDetail != null)
    {
      if (String.IsNullOrWhiteSpace(taskDetail.Title))
      {
        Title.CssClass = "e-error";
      }
      if (String.IsNullOrWhiteSpace(taskDetail.Description))
      {
        Description.CssClass = "e-error";
      }
      else
      {
        var response = await Request.SendTodoRequest(taskDetail, HttpMethod.Post, "api/tasks");
        if (response.IsSuccessStatusCode)
        {
          IsSucceed = true;
        }
      }

    }

  }
}