<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">Todo</a>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">
    @*<li class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </li>*@
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="tasksList">
        <span class="oi oi-list-rich" aria-hidden="true"></span> -Rx Tasks List
      </NavLink>
    </li>
    @*<li class="nav-item px-3">
      <NavLink class="nav-link" href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> Counter
      </NavLink>
    </li>*@
    @*<li class="nav-item px-3">
      <NavLink class="nav-link" href="addtask">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Add Task
      </NavLink>
    </li>*@
    @*<li class="nav-item px-3">
      <NavLink class="nav-link" href="tasks">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Tasks List
      </NavLink>
    </li>*@
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="newtask">
        <span class="oi oi-list-rich" aria-hidden="true"></span> New Task
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="MyProfile">
        <span class="oi oi-person" aria-hidden="true"></span>My Profile
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="StripeCheckoutSamplePage">
        <span class="oi oi-list-rich" aria-hidden="true"></span>Checkout Sample
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="StripeAddCustomerPage">
        <span class="oi oi-person" aria-hidden="true"></span>Add Stripe Customer
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="StripeCheckoutpage">
        <span class="oi oi-list" aria-hidden="true"></span>Stripe Checkout
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="StripeOffSessionPaymentPage">
        <span class="oi oi-list-rich" aria-hidden="true"></span>Deduct
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="CheckoutAndSave">
        <span class="oi oi-list-rich" aria-hidden="true"></span>Checkout And Save
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="stripe">
        <span class="oi oi-list" aria-hidden="true"></span>Stripe Page
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="OneTimePaymentPage">
        <span class="oi oi-list" aria-hidden="true"></span>PayPal OneTimePayment
      </NavLink>
    </li>
  </ul>
</div>

@code {
  private bool collapseNavMenu = true;

  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }
}
